<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="Website Icon" type="png" href="/logo_npd.png">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
    crossorigin="anonymous"></script>
  </script>

  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>


  <style>
    .input-group {
      position: relative;
    }

    .input-group-text {
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }

    a.back-button {
      display: inline-flex;
      align-items: center;
      padding: 10px 15px;
      text-decoration: none;
      background-color: #3498db;
      color: #fff;
      border-radius: 5px;
      transition: background-color 0.3s;
      margin: 50px;
      font-size: 18px;
    }

    a.back-button:hover {
      background-color: #2980b9;
    }

    .back-button i {
      margin-left: 5px;
      font-size: 30px;
    }
  </style>

</head>

<body>

  <section class="home-section">

    <a href="/admin/table" class="back-button">Go Back<i class='bx bxs-left-arrow-square'></i></a>

    <div class="container">
      

      <form method="POST" action="/admin/edit/<%= data.id %>" onsubmit="return validateUserType()">

        <h2 class="text-center mb-4 mt-5">Manager Edit Information</h2>
        <div class="row jumbotron shadow-lg p-3 mb-5 bg-body-tertiary rounded border">

          <center>
            <% if (typeof ErrorMessage !== 'undefined') { %>
              <p style="color: red;">
                <%= ErrorMessage %>
              </p>
            <% } else if (typeof SuccessMessage !== 'undefined') { %>
              <p style="color: green;">
                <%= SuccessMessage %>
              </p>
            <% } %>
          </center>
  

                <div class="col-sm-4 form-group">
                  <label for="inputEmail4">Email</label>
                  <input type="email" class="form-control" value="<%= data.email %>" id="email" name="email"
                    autocomplete="email" pattern="^[^<>()]+$" required>
                </div>

                <div class="col-sm-4 form-group">
                  <label for="inputEmail4">Last Name</label>
                  <input type="text" class="form-control" value="<%= data.lastName %>" id="lastName" name="lastName"
                    autocomplete="LastName" required min="4" pattern="^[A-Z][a-zA-Z\s-]*[^<>()0-9]*$">
                </div>

                <div class="col-sm-4 form-group">
                  <label for="inputPassword4">First Name</label>
                  <input type="text" class="form-control" value="<%= data.firstName %>" id="firstName" name="firstName"
                    autocomplete="firstName" required min="4" pattern="^[A-Z][a-zA-Z\s-]*[^<>()0-9]*$">
                </div>

                <div class="col-sm-4 form-group">
                  <label for="inputPassword4">Middle Name</label>
                  <input type="text" class="form-control" value="<%= data.middleName %>" id="middleName"
                    name="middleName" autocomplete="middleName" required min="4" pattern="^[A-Z][a-zA-Z\s-]*[^<>()0-9]*$">
                </div>

                <div class="col-sm-4 form-group">
                  <label for="inputPassword4">QLFR</label>
                  <input type="text" class="form-control" value="<%= data.QLFR %>" id="QLFR" name="QLFR"
                    autocomplete="QLFR">
                </div>


                <div class="col-sm-4 form-group">
                  <label for="inputEmail4">Police ID Number</label>
                  <input type="text" class="form-control" value="<%= data.policeId %>" name="policeId"
                    autocomplete="serialN" required min="4">
                </div>


                <div class="col-sm-4 form-group">
                  <label for="inputEmail4">Office</label>
                  <input type="text" class="form-control" value="<%= data.office %>" name="office" autocomplete="office"
                    required min="4" pattern="^[A-Z][a-zA-Z -]*$">
                </div>


                <div class="col-sm-4 form-group">
                  <label for="inputZip">Rank</label>
                  <input type="text" class="form-control" id="rank" name="rank" value="<%= data.rank %>" pattern="^[A-Z][a-zA-Z\s-]*[^<>()0-9]*$">
                </div>


                <div class="col-sm-4 form-group">
                <label for="inputZip">User Type</label>
                  <select id="usertype" name="usertype" class="form-control" required>
                    <option value="<%= data.usertype %>"><%= data.usertype %></option>
                    <option value="Choose from this list">.....</option>
                    <option value="Admin">Admin</option>
                    <option value="Manager">Manager</option>
                  </select>
              </div>

                <div class="col-sm-4 form-group">
                  <label for="inputZip">Password</label>
                  <div class="input-group">
                    <input type="password" class="form-control" id="password" name="password" pattern="^[A-Z][A-Za-z1-9@#$%!&*\s]*[^<>()]*$"
                      value="<%= data.password %>" >
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="fas fa-eye" id="togglePassword" onclick="togglePasswordVisibility()"></i>
                      </span>
                    </div>
                  </div>
                </div>
        </div>


        <div class="col-sm-12 form-group mb-0 text-center">
          <button type="submit" id="submitBtn" class="btn btn-primary ">Submit</button>
          <button type="reset" class="btn btn-danger ">Reset</button>

        </div>


      </form>


    </div>


    <script>
      //To see password
      function togglePasswordVisibility() {
        var passwordInput = document.getElementById("password");
        var togglePasswordIcon = document.getElementById("togglePassword");
        if (passwordInput.type === "password") {
          passwordInput.type = "text";
          togglePasswordIcon.classList.remove("fa-eye");
          togglePasswordIcon.classList.add("fa-eye-slash");
        } else {
          passwordInput.type = "password";
          togglePasswordIcon.classList.remove("fa-eye-slash");
          togglePasswordIcon.classList.add("fa-eye");
        }
      }

      // To pick the user type
      function validateUserType() {
          var selectedValue = document.getElementById("usertype").value;

          if (selectedValue === "Choose from this list") {
            alert("Please select a valid user type.");
            return false; // Prevent form submission
          } else {
            return true; // Allow form submission
          }
        }
    </script>




</body>

</html>