<!DOCTYPE html>
<html>

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <%- include('./components/navbar') %>
    <title>Data Analytics</title>
</head>

<style>
  * {
    box-sizing: border-box;
  }

  .row {
    display: flex;
  }


  .column {
    flex:50%;
    padding: 10px;
  }
</style>

<body class="bg-pnp">

  <div class="main">
    <div class="title"
      style="background-color: #0a15ab; color: white; font-size: 32px; text-align: left; padding: 20px;">
      <h1>Data Analytics</h1>
    </div>
    <div class="chart-container" style="background: #0a15ab; padding: 20px;">
      <div class="row">
        <div class="column">
          <h2 class="chart-title" style="color: white;">Fire Arms</h2>
          <iframe
            style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);"
            width="640" height="480"
            src="https://charts.mongodb.com/charts-project-0-omorz/embed/charts?id=6492abe4-74f2-4905-805e-f685c6754286&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
        </div>

        <div class="column">
          <h2 class="chart-title" style="color: white;">Sum</h2>
          <iframe
            style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);"
            width="640" height="480"
            src="https://charts.mongodb.com/charts-project-0-omorz/embed/charts?id=64994e7e-6f89-4b9b-8926-e4595ee18be1&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
        </div>
      </div>
      

      <div class="row">
        <div class="column">
          <h2 class="chart-title" style="color: white;">Column Graph</h2>
          <iframe
            style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);"
            width="640" height="480"
            src="https://charts.mongodb.com/charts-project-0-omorz/embed/charts?id=6492afa8-e63f-4b36-8007-0f06bc0fceb5&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
        </div>

        <div class="column">
          <h2 class="chart-title" style="color: white;">Donut Chart</h2>
          <iframe
            style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);"
            width="640" height="480"
            src="https://charts.mongodb.com/charts-project-0-omorz/embed/charts?id=6492af4a-7081-435a-88d2-cbf173aa2add&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
        </div>

      </div>


      <div class="row">
        <div class="column">
          <h2 class="chart-title" style="color: white;">Pie Chart</h2>
          <iframe
            style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);"
            width="640" height="480"
            src="https://charts.mongodb.com/charts-project-0-omorz/embed/charts?id=64a4e114-bfd6-4c5c-82e1-aed10e4d8504&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
        </div>

        <div class="column">
          <h2 class="chart-title" style="color: white;">Bar Graph</h2>
          <iframe
            style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);"
            width="640" height="480"
            src="https://charts.mongodb.com/charts-project-0-omorz/embed/charts?id=6499393e-5d6e-4d4b-80e6-5c0004764687&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
        </div>


       
      </div>


    </div>



  </div>
  <h1>Time Left : <%= daysLeft %> days, <%= hoursLeft %> hours, <%= minutesLeft %> minutes, <%= secondsLeft %> seconds for inspection report</h1>

  <canvas id="myChart"></canvas>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const firearms = <%= firearms %>;
      const countTurnedOver = <%= countTurnedOver %>;
      const countNotTurnedOver = <%= countNotTurnedOver %>;

      const ctx = document.getElementById('myChart').getContext('2d');
      const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: ['Firearms ' + firearms, 'Turned Over ' +countTurnedOver, 'Not Turned Over ' +countNotTurnedOver],
          datasets: [{
            label: 'Data Entries',
            data: [firearms, countTurnedOver, countNotTurnedOver],
            backgroundColor: [
              'rgba(54, 162, 235, 0.5)', // Firearms - Blue
              'rgba(75, 192, 192, 0.5)', // Turned Over - Green
              'rgba(255, 99, 132, 0.5)', // Not Turned Over - Red
            ],
            borderColor: [
              'rgba(54, 162, 235, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(255, 99, 132, 1)',
            ],
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
    });
  </script>

</body>

</html>